body {
    background-image: url('img.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin: 0;
    padding: 0;
}
button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 1;
    border: 1px;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #fbfcfd;
  border-color: #26193b;
  outline: none;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.profile {
    flex-basis: calc(33.33% - 20px);
    margin: 10px 10px 10px;
    padding: 10px;
    max-width: 250px;
    max-height: 200px; /* Adjust this value to change the container height */
    overflow: hidden; /* Hide overflow content if the container's content is larger */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
form {
    display: inline-block;
    margin-top: 10px;
}

button {
    background-color: #1babb8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1babb8;
}