
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

h1 {
  color: #333;
}

.options {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #11799b;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #11799b;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
	max-width: 500px;
	margin: 50px auto;
	padding: 20px;
	background-color: #f2eaea;
	box-shadow: 0px 0px 10px #999;
}

h1 {
	text-align: center;
    margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

input[type="submit"]  {
	padding: 10px;
	margin-top: 10px;
	background-color: #11799b;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #11799b;
}